kind: Deployment
apiVersion: apps/v1
metadata:
  name: notes-app-deployment
  namespace: nginx
  labels:
    app: notes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      name: notes-app-dep-pod
      labels:
        app: notes-app
    spec:
      containers:
      - name: notes-app
        image: 288418345987.dkr.ecr.us-east-1.amazonaws.com/django-notes-app:IMAGE_TAG
        ports:
          - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /
            port: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000
